/*css general*/
* {
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to left, rgb(0, 0, 255), rgb(0, 140, 255),rgb(0, 238, 255));
}

div {
    margin: 10px;
    background-color: silver;
}

form {
    margin: 1.5em;
    padding: 0.8em;
    background-color: silver;
}

ul,
li {
    padding: 0.5em;
    list-style: none;
}

p, h1 {
    padding: 0.3em;
    margin: 0.3em;
}

/*css classes*/

.bodyCreate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField {
    text-align: justify;
    border: 0;
    border-radius: 0.7em;
    background-color: white;
    margin: 0.3em;
    padding: 0.5em;
    min-width: 200px;
    min-height: 30px;
    max-width: 200px;
    max-height: 300px;
    text-size-adjust: 20px;

}

.inputField:hover,
.inputField:focus {
    background-color: gainsboro;
    border: 1px solid black;
}

.divAppoit {
    margin: 5em;
    margin: 2.2em;
    padding: 0.5em;
    min-width: 200px;
    min-height: max-content;
    max-width: max-content;
    max-height: max-content;
    background-color: silver;
}

.btnGeral {
    position: relative;
    padding: 0.5em;
    border: 0;
    background-color: rgb(120, 180, 250);
    font-weight: 600;

}

.btnGeral:hover,
.btnGeral:focus {
    background-color: dodgerblue;
    border: 1px solid blue;
}

/*css ids*/
#listBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#github {
    width: fit-content;
    height: fit-content;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    padding: .31em;
    right: 0%;
    top: 0%;

}